.layout {
  margin: 0;
  align-self: auto;
}

.site-layout-content {
  min-height: 280px;

  background: transparent;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

.gutter-row {
  width: 100px;
  align-self: auto;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
}

.checkin {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.guests {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.user-icon {
  color: #a0a0a0;
  margin-left: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.connect-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-login {
  width: 500px;
}
.form-register {
  width: 700px;
}
