* {
  box-sizing: border-box;
}

/* .layout {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.site-layout-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* width: 70%; */

  margin-top: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
}

.checkin {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.guests {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.user-icon {
  color: #a0a0a0;
  margin-left: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.connect-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-login {
  padding-top: 5%;
  padding-right: 120px;
  margin: auto;
  width: 500px;
}
.form-register {
  padding-top: 5%;
  padding-right: 120px;
  margin: auto;
  width: 900px;
}

.button-host {
  border-radius: 15px;
}

.input-group {
  width: 300px;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
}

.input-counter {
  width: 35px;
  text-align: center;
  color: #00a0e9;
}

.star-icon {
  float: right;
}

.favorites {
  color: rgb(211, 211, 211);
  float: right;
}
/* 
.badge {
  float: left;
} */

/* .img-carousel {
  width: 600px;
  height: 300px;
} */

.steps-content {
  min-height: 200px;
  margin-top: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps-action {
  margin-top: 24px;
  margin-bottom: 20px;
}
/* 
.button-hover:hover {
  border: rgb(255, 0, 200);
  border-color: green;
} */

.filtered-layout-content {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-label {
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  pointer-events: none;
}

.map-container {
  height: 50vh;
}

.clicked-coord-label {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}

.guests {
  width: 500px;
}
